body{
  font-family: 'Red Hat Text', sans-serif;
  font-size: 21px;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.Contact{
  justify-content: left;
  max-width: 500px;
  max-height: 1000px;
}

.nav{
  list-style-type: none;
  justify-content: left;
}
.nav>li>a{
  text-decoration: none;
  color: black;
}
h2 {
  display: inline;
  border-bottom: 3px solid #000000;
}

.SumSkillCode{
  padding-right: 20px;
  padding-left: 20px;
  max-width: 500px;
}

article{
  display: inline-block;
}

.sum{
  max-width: 440px;
}
.ExpEduEn{
  max-width: 500px;
}
